bitrix/
vendor/
upload/

/local/php_interface/logs
/local/logs/

*.xml
*.html
*.txt
*.log
*.css.map

*.zip
*.zip*  
*.tar
*.tar*
*.enc
*.enc*
*.gz
*.gz*
*.tgz
*.tgz*
*.sql
*.rar
.hg
.ftpconfig
*.doc
*.docx
*.pdf
*.rtf
*.xls
*.xlsx
*.ppt
*.pptx
*.psd
*.psb
*.sketch
core.*

!/robots.txt